/* class header is the container for nav bar */
.header{
  display: flex;
  flex-direction: column-reverse;
  justify-content:space-between;
  background-color: rgb(7, 128, 33);

}
.nav{
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}

.nav >li {
  padding: 0 10px;

}
.nav > li > a {
  text-decoration: none;
  color: white;
}
.nav > li > a:hover {
  color: blue;
 cursor: grab;
}
.main{
  background-color: aqua;
  /*text-decoration: none; */
  color: black;

}
.flex-container{
   display: flex;
  justify-content: center;
  align-items: center;
}
.col{
  flex-direction: column;
}
/* TRYING TO GROUP EVERYTHING TO CENTRE AND SAVE SYNTAX WITH class:Text Center*/
.text-center{
  display: flex;
  justify-content: center;
  margin: 5px 10px;
  padding: 10px 10px;
}
/*this will allow me to easily move picture around later */
.fit-picture{
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
/* my work container */
.my-work{
  display: flex;
  justify-content: space-around;
}
.services{
  display: flex;
  justify-content: first baseline;

}
.services>li{
  margin: 10px 0;
  
}
.services img:hover{
   transform: scale(1.1);
}
   

#contact{
  display: flex;
  justify-content: center;
  margin: 10px 10px;
 
}
.footer{
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

@media only screen and (max-width: 720px) { /*gives screen size adaptability*/
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services {
    flex-direction: column;
  }
}